/* 
  因為本身不是第五期的學生，所以沒有設計稿輔助實作，只單靠作業上的畫面憑空想像，目前此頁面還會完成 RWD 頁面，等將來有空時再一併補上

  與 ver1 版本差異
  - navigation bar 
    - 新增 RWD 排版
    - hover 項目動畫

  - 按鈕
    - hover 縮放動畫

  - footer
    - 新增 RWD 排版
    - 新增最下面 copyright 區塊
    - 新增 RWD 排版
  
  - sections
    - 菜單搶先看
      - 新增 RWD 排版

    - 我們在哪裡
      - 增加左右 margin

    - 吃過都說好

  - 整體頁面
     - 調整部分字體大小跟權重
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Roboto:wght@300;400;700&display=swap');

body{
  font-family: 'Noto Sans TC', 'Roboto', sans-serif ;
}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.header__wrap{
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

a.header__wrap__logo{
  text-decoration: none;
  font-size: 36px;
  color: rgb(70, 181, 70);
  font-weight: 900;
}

nav.header__wrap__nav{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
}

nav.header__wrap__nav a{
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 16px;
  border-radius: 8px;
  padding: 12px 24px;
  transition: background 0.1s;
}

nav.header__wrap__nav a:hover{
  color: white;
  background-color: #ff7286;
}

nav.header__wrap__nav a:nth-child(1){
  color: white;
  background-color: #ff7286;
}

div.banner{
  position: relative;
  max-width: 1400px;
  height: 450px;
  margin: auto;  
  z-index: -1;
  background: url(./bg.jpg) center/cover no-repeat;
}

/* 將 banner 加上較黑的背景 */
div.banner:after{
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* 此做法可以將文字放到圖片正中間，但是不知道 translate 的用途 */
div.banner__p{  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 62px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}

div.intro{
  text-align: center;
  margin-top: 40px;
}

div.intro__heading{
  margin-bottom: 40px;
}

div.intro__icon_rectangle{
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 32px;
  margin-right: 8px;
  background: rgb(129, 240, 175);
}

p.intro__heading__msg{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500;
}

p.intro__p{
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2em;
}

div.intro__order_button a{
  margin: 18px 20px 0px 20px;
  font-size: 22px;
  padding: 36px 82px;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.1s;
}

div.intro__order_button a:first-child{
  background:#a8e8e1;
  color: #3e613d;
}

div.intro__order_button a:last-child{
  background:#f9f9b5;
  color: #3e613d;
}

div.intro__order_button a:hover{
  transform: scale(1.1);
}

div.menu{
  text-align: center;
  margin-top: 40px;
}

div.menu__icon_rectangle{
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 32px;
  margin-right: 8px;
  background: rgb(129, 240, 175);
}

p.menu__heading__msg{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500;
  white-space: pre;
}

div.menu__food_gallery{
  display: flex;
  max-width: 1400px;
  margin: 20px auto;
}

div.menu__food_gallery__item{
  width: 25%;
}

div.menu__food_gallery__item img{
  width: 100%;
}

div.comment{
  max-width: 1400px;
  margin: 60px auto 0px;
}

div.comment__heading{
  text-align: center;
}

div.comment__heading__icon_rectangle{
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 32px;
  margin-right: 8px;
  background: rgb(129, 240, 175);
}

p.comment__heading__msg{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500;
  white-space: pre;
}

div.comment__info_block{
  display: flex;
  margin-top: 52px;
}

div.comment__info_block__people_says{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 18px;
  border: 2px #e8efee solid;
  transition: all 0.3s;
}

div.comment__info_block__people_says:hover{
  background-color: rgb(116, 211, 155);
  color: white;
}

div.comment__info_block__people_says:nth-child(2){
  margin: 0 10px;
}

div.comment__info_block__people_says img{
  width: 80px;
  height: auto;
  position: relative;
  top: -50px;
}

p.comment__info_block__people_says__name{
  position: relative;
  bottom: 40px;
  font-weight: 500;
}

p.comment__info_block__people_says__comment{
  position: relative;
  bottom: 26px;
  font-weight: 400;
  line-height: 2em;
}

div.where_we_are{
  text-align: center;
  margin-top: 40px;
}

div.where_we_are__icon_rectangle{
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 32px;
  margin-right: 8px;
  background: rgb(129, 240, 175);
}

p.where_we_are__heading__msg{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500;
  white-space: pre;
}

div.where_we_are__map_view{
  margin: 0 14px;
}

div.where_we_are__map_view iframe{
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  height: 600px;
  max-width: 1400px;
  border: 0px none;
  padding: 0px;
}

div.footer{
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  background-color: #e8efee;
  margin: 40px auto 20px auto;
  padding: 18px;
  box-sizing: border-box;

}

div.footer__info{
  display: flex;
  flex-direction: column;
}

p.footer__social_links__logo{
  color: rgb(70, 181, 70);
  font-size: 36px;
}

a.footer__social_links__facebook{
  text-decoration: none;
  color: black;
}

a.footer__social_links__instagram{
  text-decoration: none;
  color: black;
}

a.footer__social_links__youtube{
  text-decoration: none;
  color: black;
}

div.footer__bottom{
  background-color: #35564b;
  color: white;
  text-align: center;
}

@media(max-width: 768px){
  div.header__wrap{
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  
  nav.header__wrap__nav{
    display: flex;
    width: 100%;
  }

  nav.header__wrap__nav a{
    flex: auto;   
    margin-left: 0; 
    border-radius: 0;
    text-align: center;
  }

  div.menu__food_gallery{
    flex-direction: column;
  }

  div.comment__info_block{
    flex-direction: column;
    margin-left: 14px;
    margin-right: 14px; 
  }

  div.comment__info_block__people_says:nth-child(n){
    margin: 40px auto;
  }

  div.comment__info_block__people_says img{
    width: 120px;
  }

  div.menu__food_gallery__item{
    width: 100%;
  }
  div.footer{
    flex-direction: column;
  }

  div.footer__social_links{
    order: -1;
    margin-bottom: 10px;
  }
}